/* My profile CSS */

@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
/* BODY */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


body{
    padding : 10px;
    display : grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap : 3px;
    background-color: black;
    color : white;    
}

body a {
    text-decoration: none;
    color : white;
}

i{
    font-family: 'Chicle', cursive;
    margin-right : 10px;
}

/* .slide{
    display: none;
}

.active{
    display: block;
} */

/* HEADER */
header{
    padding : 5px;
}

.header-content {
    margin : auto;
    padding : 5px;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-auto-rows : 60px;
    grid-gap : 3px;
    height : 90%;
}

.logo{
    grid-column-start : 1;
    grid-column-end : 3;
}

.logo span {
    font-family: 'Shrikhand', cursive; 
    font-size: xx-large; 
    margin-bottom : 0px;
    margin-left : 110px;
}

.nav {
    grid-column : 4 / -1;
    padding : 2px;
}

#linkmenu {
    display: none;
    margin-left : 10px;
    font-size : 20px;
    cursor: pointer;
}

.list {
    list-style: none;
    margin-left : 50px;
    font-family: 'Righteous', cursive;
}

.nav-list {
    display : inline-block;
    margin-left : 10px;
    font-size : 20px;
    cursor: pointer;
}

.nav-list:hover{
    font-size : 22px;
}

.nav-list a:active{
   font-size: 22px;
}

/* HEADER ENDS HERE */

/* WELCOME */

#welcome{
    padding : 10px;
    margin : 50px;
    animation: fadeIn ease 5s;

}

.welcome {
    padding : 5px;
}

.show{
    font-family: 'Suez One', serif;
    font-size: 200px;
    text-align: center;
}

#pop {
   position: absolute;
   width : 100%;
   top : 2px;
   left : 2px;
   background-color: #000;
   padding : 5px;
   text-align: center;
   display: grid;
   grid-template: auto auto/ 1fr;
   visibility: hidden;
}

.close {
    text-align: right;
    padding-top : 20px;
    font-size: 20px;
    margin-right: 5%;
}


.pop-list{
    padding : 15px;
    list-style: none;
    font-size: 25px;
}

/* CONTENT-1 STARTS HERE */

#content-1{
    /* background: url(../img/black-computer.jpg); */
    padding: 20px;
    display: none;
    animation: fadeIn ease 5s;
}

.sub-con {
    padding : 5px;
    display: grid;
    grid-template-columns : repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-gap : 3px;
}

.intro-1{
    grid-column: 2/7;
    padding : 10px;
}

.meet{
    text-align: center;
    font-family: 'Amiko', sans-serif;
}

.meet h1 {
    font-size : 50px;
}

.meet hr{
    width : 60px;
}

.note{
    padding : 5px;
    font-size : 20px;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.note p{
    line-height: 30px;
}

.intro-2{
    padding : 5px;
    grid-column : 8/-1;
    background-image: url("../img/new1.jpg");
    background-size: 350px;
    background-repeat: no-repeat;
    
}


/* CONTENT-1 ends here */


/* CONTENT-2 starts here */
#content-2{
    text-align : center;
    margin : 0px;
    display: none;
    animation: fadeIn ease 5s;
   
} 

.gal_h1 {
    padding : 10px;
}

.gal_h1 h1 {
    font-family : 'Amiko', sans-serif;
    font-size: 50px;
}

.gal_h1 p{
    font-family: 'Jost', sans-serif;
    font-size : 20px;
}
.gal_pics{
    margin-left : 10%;
    width : 63%;
    margin: auto 200px;
    padding : 2px;
    display : grid;
    grid-template-columns: repeat(6, minmax(150px, auto));
    grid-auto-rows: 210px;
    grid-gap : 3px;
    /* grid-auto-flow: dense; */
    
}

/*CONTENT-2 ends here */

/* CONTENT-3 starts here */

#content-3{
    margin : 80px 0px;
    display : none;
    animation: fadeIn ease 5s;
}

.pro_h1{
    text-align: center;
}

.pro_h1 h1{
    font-family : 'Amiko', sans-serif;
    font-size: 50px;
}
.pro{
    padding : 10px;
    margin : auto;
    display : grid;
    grid-template-columns : repeat(3, 1fr);
    grid-auto-rows: 100px;
}
.odd{
    background-color: #fff;
    color : black;
    padding : 5px;
    text-align: center;
}
.odd a{
    color: black;
    font-family: 'Raleway', sans-serif;
}
.even{
    background-color: rgb(12, 11, 11);
    padding : 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* CONTENT-3 ends here */

/* CONTENT-4 starts here */

#content-4{
    padding : 10px;
    display: none;
    animation: fadeIn ease 5s;
}

.contact-me{
    padding : 5px;
    display: grid;
    grid-template : repeat(3, auto) / auto;
}

.con_h1{
    text-align: center;
}

.details {
    display: grid;
    text-align: center;
    grid-template: auto / repeat(3,1fr) ;
    text-align: center;
}

.con_h1{
    padding : 20px;
}

.con_h1 h1{
    font-family : 'Amiko', sans-serif;
    font-size: 50px;
}

.det{
    padding: 40px;
    font-size : 20px; 
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.con{
    padding: 50px 0;
    margin-left : 35%;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-gap : 3px;
    grid-auto-rows: auto;
    
}

/* CONTENT-4 ends here */

/* FOOTER starts here */
footer {
    padding : 5px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
}

hr {
    grid-column:1/-1;
}

.footer-con {
    grid-column : 1/6;
    display : grid;
    grid-template: 50px 50px / auto;
    grid-gap : 3px;
    text-align: center;
}

.iyanu {
    font-family: 'Shrikhand', cursive; 
    font-size: xx-large; 
    grid-row: 1/2;
}

.footer-con ul{
    padding : 20px;
    grid-row: 2/-1;
}

.footer-con ul li {
    padding : 5px;

}

.footer-list{
    display : inline-block;
}


.divider{
    grid-column : 6/7;
    padding : 10px;
}

#connect {
    grid-column : 7/-1;
    padding : 15px;
    display : grid;
    grid-template : repeat(2, auto) / 1fr;
    grid-gap : 3px;
}

.con1{
    padding : 3px;
    display: grid;
    grid-template: auto/ repeat(5, 50px);
} 

.con2 {
    padding : 3px;
    display: grid;
    grid-template: auto/ repeat(7, 50px);
}


/*FOOTER ends here */

/* For Ipad-Pro */
@media screen and (max-width : 1024px){

    body{
        padding : 0px;
        margin : 0px;
    }

    .pro{
        padding : 10px;
        margin : auto;
        display : grid;
        grid-template-columns : repeat(1, 1fr);
        grid-gap : 3px;
        grid-auto-rows: 100px;
    }

    .odd a,.even a {
        font-size: 30px;
    }

    .intro-2 {
        grid-column : 1/5;
        grid-row: 1/2;
    }

    .intro-1{
        grid-column: 5/-1;
    }
    .gal_pics {
        margin : 30px;
        margin-left : 8%;
    }

   
}

/* For IPad */
@media screen and (max-width : 890px){
    .logo{
        grid-column : 1/-1;
        grid-row: 1/2;
        margin-left: 20%;
    }

    .logo span {
        font-size : 50px;
    }

    .nav {
        margin-right : 100px;
    
    }
    .sub-con {
        grid-template-columns : repeat(12, 1fr);
        grid-auto-rows: auto;
        grid-gap : 3px;
    }

    .intro-1{
        grid-column: 5 / -1;
        grid-row: 1 / 2;
    }

    .intro-2{
        margin-top : 100px;
        grid-column : 1 / 5;
        grid-row : 1 / 2;
        background-size: contain;
    }
    .gal_pics{
        margin-left : 10%;
        grid-template-columns: repeat(4, minmax(150px, auto));
        grid-auto-rows: 210px;
    }

    .pro{
        padding : 5px;
        margin : auto;
        display : grid;
        grid-template-columns : repeat(1, 1fr);
        grid-auto-rows: 100px;
    }

    .contact-me{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }

    .con_h1{
        grid-column : 1/ -1;
        grid-row : 1 / 2;
    }

    .details{
        grid-column : 1/-1;
        grid-row : 2/3;
        display: grid;
        grid-template : auto / repeat(3, 1fr);
    }

    .con {
        grid-column : 1/-1;
        grid-row : 3 / -1;
        display: grid;
        grid-template: 50px/ repeat(5, 50px);
    }

    /* .det{
        display: grid;
        grid-template-columns: 150px;
        grid-auto-rows: auto;
    } */

    .footer-con ul{
        padding : 5px;
        grid-row: 2/-1;
        width : 300px;
    }

   .con2{
    grid-template-columns: repeat(5, 50px);
    grid-auto-rows: auto;
   }
}

@media screen and (max-width: 411px){

    body {
        padding : 0px;
        margin: 0px;
    }

    .header-content{
        margin-top : 5%;
        padding : 1%;
        display: grid;
        grid-gap: 3%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 100px;
    }

    .logo{
        grid-column : 1/4;
        grid-row: 1/2;
        margin-left: 1px;
    }

    .logo span {
        font-size : 70px;
        margin-left : 20%;
    }

    .list {
        padding : 0px;
        margin : 0px;
        list-style: none;
        font-family: 'Righteous', cursive;
    }

    #linkmenu{
        padding-top: 10%;
        text-align: center;
        font-size: 50px;
        display: block;
        grid-column : 1/-1;
        cursor: pointer;
    }
    
    .nav {
        display : none;
    }
    
    footer {
        width : 411px;
        border-top: 1px solid;
        border-color: cadetblue;
        padding : 0px;
        margin: 0px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }

    hr, .divider {
        display: none;
    }

    .footer-con{
        width : 400px;
        grid-row: 1/-1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 100px);
    }

    .footer-con h1 {
        font-size: 50px;
        grid-column : 1/-1;
    }

    .footer-con ul{
        grid-column : 1/ -1;
        font-size: 25px;
        width: 400px;
        height : 100px;
        margin-bottom : 40px;
             
    }    

    #connect {
        grid-column: 1/-1;
        grid-template-columns: repeat(3, 1fr);
        margin-top : 100px;
        padding : 2px;
        width : 400px;
    }

    .con1, .con2{
        grid-column: 2/3;
        padding : 10px;
        display: grid;
        grid-template: auto/ repeat(5, 60px);
        text-align: center;
    }

    .sub-con {
        padding : 2px;
        display: grid;
        grid-template-columns : 1fr;
        grid-template-rows: auto 500px;
        grid-gap : 3px;
    }

    
    .intro-1{
        margin-left : -20px;
        grid-row: 1 / 2;
        width: 340px;
        padding : 0;
        line-height: 3px;
    }

    .meet h1{
        font-size: 60px;
    }

    .note{
        font-size: 25px;
    }

    .intro-2 {
        grid-row: 2 / 3;
        background-size: 400px;
        margin-left : 5px;
        background-size: contain;
    }

    /* Content 3 */

    #content-3{
        display: block;
    }

    .pro_h1{
        width : 345px;
        margin-left : 20px;
    }

    .pro{
        width: 85%;
        margin : 8px;
    }

    /*content 4*/

    #content-4{
        display: block;
    }
    .con_h1{
        width : 330px;
        padding : 0px;
        margin-left: 20px;

    }

    .details{
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(3, 300px);
        width : 330px;
        margin-left : 20px;

    }

    .det {
        padding : 3px;      
    }
    
    .con {
        padding : 10px;
        width : 250px;
        margin-left : 50px;
    }

    .connect {
        margin-left : 5px;
    }

}

@media screen and (max-width : 360px){

    body {
        padding : 0px;
        margin: 0px;
    }

    .header-content{
        margin-top : 5%;
        padding : 1%;
        display: grid;
        grid-gap: 3%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 100px;
    }

    .logo{
        grid-column : 1/4;
        grid-row: 1/2;
        margin-left: 1px;
    }

    .logo span {
        font-size : 70px;
        margin-left : 15%;
    }

    .list {
        padding : 0px;
        margin : 0px;
        list-style: none;
        font-family: 'Righteous', cursive;
    }

    #linkmenu{
        padding-top: 10%;
        text-align: center;
        font-size: 50px;
        display: block;
        grid-column : 1/-1;
        cursor: pointer;
    }
    
    .nav {
        display : none;
    }
    
    footer {
        width : 360px;
        border-top: 1px solid;
        border-color: cadetblue;
        padding : 0px;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }

    hr, .divider {
        display: none;
    }

    .footer-con{
        width : 350px;
        grid-row: 1/-1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 100px);
    }

    .footer-con h1 {
        font-size: 50px;
        grid-column : 1/-1;
    }

    .footer-con ul{
        grid-column : 1/ -1;
        font-size: 25px;
        width: 320px;
        height : 100px;
        margin-bottom : 40px;
             
    }    

    #connect {
        grid-column: 1/-1;
        grid-template-columns: repeat(3, 1fr);
        margin-top : 100px;
        padding : 2px;
        width : 340px;
    }

    .con1, .con2{
        grid-column: 2/3;
        padding : 10px;
        display: grid;
        grid-template: auto/ repeat(5, 50px);
        text-align: center;
    }

    .sub-con {
        padding : 2px;
        display: grid;
        grid-template-columns : 1fr;
        grid-template-rows: auto 500px;
        grid-gap : 3px;
    }

    
    .intro-1{
        margin-left : -60px;
        grid-row: 1 / 2;
        width: 340px;
        padding : 0;
        line-height: 3px;
    }

    .meet h1{
        font-size: 60px;
    }

    .note{
        font-size: 25px;
    }

    .intro-2 {
        grid-row: 2 / 3;
        background-size: 360px;
        margin-left : -10px;
        background-size: contain;
    }

    /* Content 3 */

    #content-3{
        display: block;
    }

    .pro_h1{
        width : 345px;
        margin-left : 5px;
    }

    .pro{
        width: 85%;
        margin : 3px;
    }

    /*content 4*/

    #content-4{
        display: block;
    }
    .con_h1{
        width : 330px;
        padding : 0px;
    }

    .details{
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(3, 300px);
        width : 330px;
    }

    .det {
        padding : 3px;      
    }
    
    .con {
        padding : 10px;
        width : 250px;
        margin-left : 30px;
    }

    .connect {
        margin-left : 5px;
    }

    


}



